<h1>Hello from LukasTrends!</h1>
<p>Here is the latest currency data:</p>
<table border="1" cellspacing="0" cellpadding="5">
  <thead>
    <tr>
      <th>Currency</th>
      <th>Value (lukas)</th>
    </tr>
  </thead>
  <tbody>
    <% @currencies.each do |currency| %>
      <% currency.each do |name, value| %>
        <tr>
          <td><%= name %></td>
          <td><%= number_with_precision(value, precision: 2) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
